[submodule "include/Pattern16"]
	path = include/Pattern16
	url = https://github.com/Dasaav-dsv/Pattern16.git
[submodule "include/minhook"]
	path = include/minhook
	url = https://github.com/Umgak/minhook.git
