name: "Test build"
on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          submodules: recursive

      - name: "Build"
        id: build
        uses: "./.github/actions/build"