name: "Test build"
on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: "Build"
        id: build
        uses: "./.github.actions/build"